<%- include("partials/header"); -%>
    <h2>Development software used to develop this website</h2>
    <p>“The website has been developed using Node.js, EJS, and mongoDB.</p>
        <p><b>Dependencies used:</b> body-parser, ejs, express, lodash and mongoose.
        Most of the javaScript logic and web pages are run from the server, and that’s one of the advantages of using node.js."
        </p>
<%- include("partials/footer"); -%>
